* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SORA", sans-serif;
  overflow-x: hidden;
}

/*================================================
      Top Info Bar
    =================================================*/
.top-bar {
  background-color: #219b86;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* position: sticky;
  top: 0;  */
  position: relative;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  font-weight: 600;
  transition: color 0.3s;
}

.top-bar i {
  margin-right: 5px;
}

.top-bar i:hover {
  color: #a5ebdf; /* optional color change */
  cursor: pointer;
  transform: translateY(-3px); /* lift icon up */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* shadow for 3D effect */
}

/*================================================
      Navbar
    =================================================*/
.navbar {
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: sticky;
  /* top: 40px; 
  z-index: 1025; */
}

/* Big Logo */
.hospital-logo {
  height: 60px; /*  Bigger logo */
  width: auto;
  margin-left: -68px;
}

/* Navbar links */
.navbar-nav {
  gap: 20px;
  align-items: center;
}

.navbar-nav .nav-link {
  color: #219b86;
  font-weight: 500;
  padding: 8px 15px;
  position: relative;
  transition: color 0.3s;
}

/* Active + Hover Effects */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #014421;
}

.navbar-nav .nav-link.active::before,
.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #014421;
}

.navbar-nav .nav-link::before {
  top: 0; /* Top underline */
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar-nav .nav-link::after {
  bottom: 0; /* Bottom underline */
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}

/* Button */
.btn-inquire {
  position: relative;
  overflow: hidden;
  background-color: #219b86;
  color: #fff;
  border-radius: 50px;
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  transition: background-color 0.4s ease, color 0.4s ease;
  margin-left: 29px;
  margin-right: -37px;
}

.btn-inquire::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-25deg);
  transition: all 0.5s ease;
}

.btn-inquire:hover::before {
  left: 125%;
}
.btn-inquire:hover {
  background-color: #014421;
  color: #fff;
}

/*================================================
      Navbar mobile
    =================================================*/
.mobile-navbar {
  position: absolute; /* stays below top bar */
  top: 50px; /* height of your top bar */
  left: 0;
  width: 100%;
  display: none; /* show on menu toggle */
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.nav-header img {
  height: 50px;
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  color: #2e7d32;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #fff;
  border-top: 2px solid #219b86; /* permanent top line of menu */
}
/* Close Button */
.mobile-menu .close-icon {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 20px;
  color: #333;
}
.mobile-menu a {
  padding: 15px;
  border: 1px solid #edecec;
  text-decoration: none;
  color: #219b86;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}
.mobile-menu a.active {
  color: #014421;
  font-weight: 500;
}
/* Mobile Navbar Book Appointment Button */
.mobile-menu .book-btn {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 15px auto;
  padding: 10px 20px;
  background-color: #219b86; /* Your theme color */
  color: #fff;
  text-align: center;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.mobile-menu .book-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-25deg);
  transition: all 0.5s ease;
}

.mobile-menu .book-btn:hover::before {
  left: 125%;
}
.mobile-menu .book-btn:hover {
  background-color: #014421;
  color: #fff;
}

/* Full-width top and bottom lines using pseudo-elements */
.mobile-menu a::before,
.mobile-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #014421;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.mobile-menu a::before {
  top: 0; /* top line */
  transform-origin: left;
}

.mobile-menu a::after {
  bottom: 0; /* bottom line */
  transform-origin: right;
}

/* Hover effect */
.mobile-menu a:hover {
  color: #014421;
}

.mobile-menu a:hover::before,
.mobile-menu a:hover::after {
  transform: scaleX(1); /* show full-width lines */
}
.mobile-menu a.active::before,
.mobile-menu a.active::after {
  transform: scaleX(1);
}
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  color: #219b86;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Close icon styling */
.menu-icon.close {
  color: #219b86;
  transform: rotate(90deg); /* subtle rotation effect */
}

/* Show menu */
.mobile-menu.show {
  display: flex;
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*================================================
hero - section
=================================================*/
.hero-section {
  position: relative;
  background-color: #f4fffd; /* base color */
  background-image: url("https://www.transparenttextures.com/patterns/squared-metal.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
  margin-bottom: 100px;
  z-index: 1;
}

/* Overlay for opacity effect */
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(244, 255, 253, 0.7); /* white overlay with opacity */
  z-index: -1;
}

.hero-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #014421;
  line-height: 1.3;
  padding: 0 40px;
}

.hero-title span {
  font-size: 2.2rem;
  font-weight: 700;
  color: #219b86;
  line-height: 1.3;
}

.hero-text {
  font-size: 1.1rem;
  margin: 18px 0;
  color: #444;
}

/* Button */
.btn-hero {
  position: relative;
  overflow: hidden;
  background-color: #219b86;
  color: #fff;
  border-radius: 50px;
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.btn-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-25deg);
  transition: all 0.5s ease;
}

.btn-hero:hover::before {
  left: 125%;
}

.btn-hero:hover {
  background-color: #014421;
  color: #fff;
}

/* Right Side Image */
.hero-img {
  width: 100%;
  max-width: 700px;
  padding: 30px 0;
}

/*================================================
about-us section
=================================================*/

.collage-wrapper {
  position: relative;
  width: 100%;
  max-width: 550px;
}

.collage-wrapper img {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; /* images on top */
}

/* Single frame behind all images */
.collage-frame {
  position: absolute;
  top: 108px;
  left: 66px;
  width: 59%;
  height: 47%;
  border: 3px solid #219b86;
  border-radius: 12px;
  z-index: 1; /* behind images */
}

/* First image */
.collage-img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  z-index: 3;
}

/* Second image */
.collage-img2 {
  position: absolute;
  top: -106px;
  left: 220px;
  width: 280px;
  z-index: 4;
}

/* Third image */
.collage-img3 {
  position: absolute;
  top: -253px;
  left: 0;
  width: 262px;
  z-index: 2;
}

/* ---------- RIGHT SIDE CONTENT ---------- */
.content-wrapper {
  margin-top: -308px;
}
.section-subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #219b86;
  background: #e2f6f3;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  color: #219b86;
  margin-bottom: 15px;
}

.section-title span {
  color: #014421;
  font-weight: 700;
}

.section-text {
  color: #555;
  line-height: 1.7;
  margin-bottom: 20px;
}

.about-btn {
  position: relative;
  overflow: hidden;
  background-color: #219b86;
  color: #fff;
  border-radius: 50px;
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.about-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-25deg);
  transition: all 0.5s ease;
}

.about-btn:hover::before {
  left: 125%;
}
.about-btn:hover {
  background-color: #014421;
  color: #fff;
}

/* ================================
     OUR Stories Section 
==================================*/

.vm-section {
  margin-top: -262px;
}
.vm-section h2 {
  font-size: 32px;
  font-weight: 700;
  color: #014421;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}

.vm-section h2 span {
  color: #219b86;
}

.vm-section h2::after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  margin: 8px auto 0;
  background: linear-gradient(to right, transparent, #219b86, transparent);
  border-radius: 50%;
}

.card-custom {
  border-radius: 8px 30px 8px 39px;
  padding: 30px 20px 20px;
  color: #fff;
  background: linear-gradient(to right, #e5f4f3, #c8faf7);
  position: relative;
  min-height: 220px;
  transition: all 0.5s ease; /* smooth hover */
}
.card-header-custom {
  position: absolute;
  top: -25px;
  left: 32%;
  background: linear-gradient(to right, #f5fdfc, #ffffff);
  padding: 19px 65px 19px 65px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  border: #014421 1px solid;
  display: flex;
  align-items: center;
}
.card-header-custom span {
  font-weight: bold;
  text-transform: uppercase; /* makes VISION all caps */
  font-size: 16px; /* adjust size */
  color: #014421; /* white text */
  margin-left: 0px; /* space from icon circle */
  letter-spacing: 1px; /* optional: spacing between letters */
}

.card-header-custom .icon-img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #fff;
  border: #219b86 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 8px;
}

.card-header-custom .icon-img img {
  width: 50px;
  height: 50px;
}
/* Smooth transition for the card */
.card-custom {
  transition: all 0.5s ease; /* card scale & shadow */
  cursor: pointer;
}

/* Hover effect for the card: scale and shadow */
.card-custom:hover {
  transform: scale(1.02); /* slightly bigger */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* subtle shadow */
}

/* Smooth transition for card header */
.card-header-custom {
  transition: all 0.5s ease; /* smooth background & color change */
}

/* Hover effect for card header when card is hovered */
.card-custom:hover .card-header-custom {
  background: #219b86; /* header fills with color */
  color: #fff; /* header text white */
}

/* Smooth transition for the icon circle */
.card-header-custom .icon-img {
  transition: all 0.6s ease; /* rotation & background */
}

/* Hover effect for the icon circle */
.card-custom:hover .card-header-custom .icon-img {
  transform: rotate(360deg); /* rotate the circle */
  background: #fff; /* circle fills white */
  border-color: #219b86;
}

/* Optional: smooth transition for icon image */
.card-header-custom .icon-img img {
  transition: all 0.6s ease;
}

.card-custom p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  padding: 2px 20px;
}

/* ================================
   Technology Grid Section
================================= */
.technology-grid-section {
  background-color: #fff;
}

.technology-grid-section h2 {
  font-size: 32px;
  font-weight: 700;
  color: #014421;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.technology-grid-section h2 span {
  color: #219b86;
}

.technology-grid-section h2::after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  margin: 8px auto 0;
  background: linear-gradient(to right, transparent, #219b86, transparent);
  border-radius: 50%;
}

.technology-grid-section p {
  font-size: 16px;
  color: #555;
  max-width: 600px;
  margin: 10px auto 0;
}

.technology-grid-section .section-subtitle {
  font-size: 1rem;
  color: #555;
}

/* Tech Item */
.tech-item {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

/* Tech Item Image */
.tech-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}
/* Zoom effect on hover */
.tech-item:hover img {
  transform: scale(1.1);
}

/* Overlay Text */
.tech-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

/* ::before and ::after Diagonal Overlay */
.tech-item::before,
.tech-item::after {
  content: "";
  position: absolute;
  background: rgba(33, 155, 134, 0.3);
  transition: all 0.4s linear;
  z-index: 1;
  border-radius: 15px;
}

.tech-item::before {
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
}

.tech-item::after {
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

/* Hover Effects */
.tech-item:hover img {
  transform: scale(1.1);
}

.tech-item:hover::before,
.tech-item:hover::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tech-item:hover .tech-overlay {
  opacity: 1;
}

/* Overlay Text */
.tech-overlay h5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.tech-overlay p {
  font-size: 0.95rem;
  color: #fff;
}

/* ================================
     why choose Section 
==================================*/

.why-choose {
  background: linear-gradient(to right, #e5f4f3, #c8faf7);
  border-radius: 20px;
  padding: 50px 30px;
  text-align: center;
}
.why-choose h2 {
  font-size: 32px;
  font-weight: 700;
  color: #014421;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.why-choose h2 span {
  color: #219b86;
}

.why-choose h2::after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  margin: 8px auto 0;
  background: linear-gradient(to right, transparent, #219b86, transparent);
  border-radius: 50%;
}

.why-choose .sub-text {
  font-size: 16px;
  color: #555;
  max-width: 600px;
  margin: 10px auto 0;
}
.why-choose .icon {
  margin-top: 60px;
  font-size: 45px;
  margin-bottom: 15px;
  color: #14421d;
}
.why-choose h5 {
  font-weight: 700;
  margin-bottom: 10px;
  color: #219b86;
}
.why-choose p {
  color: #333;
  font-size: 15px;
}

/*  ================================
     Community & CSR Journey Section
================================== */
.csr-bg-wrapper {
  margin-bottom: -115px;
}

.csr-bg-wrapper h2 {
  font-size: 32px;
  font-weight: 700;
  color: #014421;
  margin-bottom: 110px;
  position: relative;
  text-align: center;
  display: block; /*  ensures full width */
}

.csr-bg-wrapper span {
  color: #219b86;
}

.csr-bg-wrapper h2::after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  margin: 8px auto 0;
  background: linear-gradient(to right, transparent, #219b86, transparent);
  border-radius: 50%;
}

.csr-main-wrapper {
  max-width: 1100px;
  margin: auto;
  position: relative;
}

/* Vertical dotted line */
.csr-main-wrapper::before {
  content: "";
  position: absolute;
  top: 87px;
  left: 50%;
  transform: translateX(-50%);
  height: 79%;
  width: 2px;
  background: repeating-linear-gradient(
    to bottom,
    #219b86 0,
    #219b86 4px,
    transparent 4px,
    transparent 10px
  );
  z-index: 0;
}

.csr-content-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
  z-index: 2;
}
.csr-content-block:nth-child(even) {
  flex-direction: row-reverse;
  margin-top: -60px;
}

.csr-content-block:nth-child(odd) {
  margin-top: -60px; /* adjust this value */
}

/* Circle icon container */
.csr-circle-icon {
  text-align: center;
  margin: 40px auto;
  position: relative;
}

.csr-inner-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #e6f8f4;
  border: 6px solid #219b86;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

/* Ripple circles */
.csr-inner-circle::before,
.csr-inner-circle::after {
  content: "";
  position: absolute;
  border: 2px solid rgba(33, 155, 134, 0.3);
  border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: -1;
  animation: glow 2.5s infinite ease-in-out;
}

/* Glow Pulse Animation */
@keyframes glow {
  0% {
    box-shadow: 0 0 0px rgba(33, 155, 134, 0.6);
  }
  50% {
    box-shadow: 0 0 15px rgba(33, 155, 134, 0.8);
  }
  100% {
    box-shadow: 0 0 0px rgba(33, 155, 134, 0.6);
  }
}

.csr-inner-circle::after {
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
}

.csr-inner-circle img {
  width: 48px;
}

/* Left icon connector */
.csr-icon-left {
  margin-left: 240px;
}
.csr-icon-left::before {
  content: "";
  position: absolute;
  right: -209px;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 155px;
  background: repeating-linear-gradient(
    to right,
    #219b86 0,
    #219b86 4px,
    transparent 4px,
    transparent 10px
  );
}
.csr-icon-left::after {
  content: "";
  position: absolute;
  right: -227px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: #219b86;
  border-radius: 50%;
}

/* Right icon connector */
.csr-icon-right {
  margin-right: 235px;
}
.csr-icon-right::before {
  content: "";
  position: absolute;
  left: -214px;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 155px;
  background: repeating-linear-gradient(
    to right,
    #219b86 0,
    #219b86 4px,
    transparent 4px,
    transparent 10px
  );
}
.csr-icon-right::after {
  content: "";
  position: absolute;
  left: -231px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: #219b86;
  border-radius: 50%;
}

/* Text container */
.csr-text-box {
  max-width: 420px;
}
.csr-text-left {
  margin-right: 40px;
}
.csr-text-right {
  margin-left: 40px;
}
.csr-text-box h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #14421d;
}
.csr-text-box p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}

/*  ================================
     Insurance Partners Section
================================== */

.clients-section {
  background: linear-gradient(to right, #e5f4f3, #c8faf7);
  border-radius: 15px;
  padding: 40px;
  overflow: hidden;
}
.clients-section h2 {
  font-weight: 700;
  margin-bottom: 15px;
  color: #014421;
}
.clients-section span {
  color: #219b86;
  font-weight: 700;
  margin-bottom: 15px;
}
.clients-section p {
  color: #333;
}

/* Infinite Row Wrapper */
.marquee-container {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
.marquee-row {
  display: flex;
  width: max-content;
}

/* Top row - scroll left */
.scroll-left {
  animation: scrollLeft 30s linear infinite;
}
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Bottom row - scroll right */
.scroll-right {
  animation: scrollRight 48s linear infinite;
}
@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.clients-logo {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  min-width: 180px;
  margin: 0 12px;
}
.clients-logo img {
  max-height: 140px;
  max-width: 100%;
  object-fit: cover;
}

/* Button */
.btn-client {
  position: relative;
  overflow: hidden;
  background-color: #219b86;
  color: #fff;
  border-radius: 50px;
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  transition: background-color 0.4s ease, color 0.4s ease;
  position: relative;
  overflow: hidden;
  background-color: #219b86;
  color: #fff;
  border-radius: 50px;
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  transition: background-color 0.4s ease, color 0.4s ease;
  margin-left: -7px;
  margin-right: 255px;
}

.btn-client::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-25deg);
  transition: all 0.5s ease;
}

.btn-client:hover::before {
  left: 125%;
}

.btn-client:hover {
  background-color: #014421;
  color: #fff;
}

/*  ================================
      FAQS Section
  ================================== */

.faq-section {
  padding: 0px 30px; /* pura padding remove */
  background: #fff;
  margin-top: 102px;
  margin-bottom: 120px;
}
.faq-section .faqs-title {
  font-size: 32px;
  font-weight: 700;
  color: #014421;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  display: block; /*  ensures full width */
}

.faq-section span {
  color: #219b86;
}

.faq-section .faqs-title::after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  margin: 8px auto 0;
  background: linear-gradient(to right, transparent, #219b86, transparent);
  border-radius: 50%;
}

/* Custom Tab Style */
.nav-pills .nav-link {
  border: 1px solid #219b86;
  border-radius: 20px;
  color: #219b86;
  margin: 5px;
  font-weight: 500;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background: #219b86;
  color: #fff;
}
/* Accordion full box border */
.accordion-item {
  border: 1px solid #ddd !important;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;
  transition: 0.3s;
}
.accordion-item:hover {
  border-color: #219b86;
}
.accordion-button {
  box-shadow: none !important;
  border: none !important; /* Remove default border */
  color: #219b86; /* Question text color */
  font-weight: 500;
}
.accordion-button:focus {
  box-shadow: none !important;
}

/* Default arrow hatana aur +/− add karna */
.accordion-button::after {
  background-image: none !important;
  content: "+";
  font-size: 20px;
  font-weight: bold;
  color: #219b86;
  transform: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: #219b86 !important; /* tab open background */
  color: #fff !important; /* text white */
}

.accordion-button:not(.collapsed)::after {
  content: "−";
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

/*================================================
FOOTER - section
=================================================*/

/* Newsletter Top Bar */
.newsletter {
  background: linear-gradient(to right, #f5fdfc, #ffffff);
  color: #219b86;
  padding: 30px 0;
}
.newsletter h3 {
  font-weight: 700;
  margin-bottom: 5px;
  margin-right: -59px;
}
.newsletter p {
  margin: 0;
  color: #014421;
  opacity: 0.9;
}
.nl-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.nl-icon i {
  font-size: 28px;
  color: #219b86;
}
.newsletter .btn-subscribe {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: #219b86;
  border: 2px solid #219b86;
  border-radius: 50px;
  padding: 20px 25px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.newsletter .btn-subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-25deg);
  transition: left 0.5s ease;
}

.newsletter .btn-subscribe:hover::before {
  left: 125%;
}

.newsletter .btn-subscribe:hover {
  background-color: #014421;
  color: #fff;
}

.footer {
  background-color: #6c7c92;
  background-image: url("Assets/Home-img/Award-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* <-- Makes image cover entire footer */
  color: #fff;
  padding: 60px 0 20px;
  position: relative;
  z-index: 1;
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(26, 122, 97, 0.9);
  z-index: -1;
}
.footer h5 {
  font-weight: 600;
  margin-bottom: 20px;
}
.footer p {
  font-size: 16px;
  opacity: 0.9;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.footer a:hover {
  color: #6af5c9;
  font-weight: bold;
}
.hours-box {
  background: #dff5f1;
  border-radius: 20px;
  padding: 25px 20px;
  max-width: 300px;
  text-align: center;
  margin: -161px auto 38px auto;
}
.hours-box hr {
  border: 0;
  height: 1px;
  background: #219b86;
  margin: 15px 0;
}
.hours-box h5 {
  background: #fff;
  color: #014421;
  border-radius: 50px;
  padding: 8px 15px;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 600;
}
.hours-box .desc {
  color: #6c7a96;
  font-size: 14px;
  margin-bottom: 15px;
}
.hours-box p {
  margin: 9px 0;
  font-size: 14px;
  color: #014421;
}
.hours-box .time {
  color: #219b86;
  font-weight: 600;
}
.hours-box .emergency {
  color: #219b86;
  text-decoration: none;
  font-weight: 500;
}
.hours-box .emergency:hover {
  color: #014421;
}
.hours-box .follow {
  margin-top: 10px;
  font-size: 14px;
  color: #014421;
}
.hours-box .social-icons a {
  display: inline-block;
  margin: 0 5px;
  background: #219b86;
  color: #fff;
  font-size: 16px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
}

.hours-box .social-icons a:hover {
  background: #1a7a68; /* thoda dark shade */
  transform: scale(1.2) rotate(10deg); /* zoom + tilt */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* glow effect */
}

/* Divider continuous image */
.footer-divider {
  width: 110%;
  height: 104px;
  background: url(Assets/Home-img/footer-img.png) no-repeat center;
  background-size: auto 112px;
  margin-bottom: -30px;
  animation: moveDivider 15s linear infinite; /* animation */
}

@keyframes moveDivider {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.footer-bottom {
  color: #fff;
  font-size: 14px;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}
.footer-links a:hover {
  text-decoration: underline;
  color: #014421;
  font-weight: bold;
}
.footer-separator {
  border-right: 1px dotted rgba(212, 212, 212, 0.9);
  padding-right: 23px;
  padding-left: 23px;
}
.footer-separator:last-child {
  border-right: none;
  padding-right: 0;
}
